@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.prose a {
  color: #2563eb;
  text-decoration: underline;
}
html, body {
  overflow-x: hidden;
  max-width: 100%;
}
* {
  box-sizing: border-box;
}